body {
	padding-bottom: 20px;
}
.banner {
	width: 100%;
	height: 56px;
	background-color: skyblue;
	text-align: center;
	color: white;
	font-size: 18px;
	letter-spacing: 4px;
	line-height: 56px;
}
.found {
	width: 100%;
}
.found > ol {
	width: 86%;
	margin: auto;
	margin-bottom: 50px;
}
.found > ol >li {
	width: 100%;
	list-style-type: decimal;
	margin: 20px 0;
	margin-bottom: 30px;
}
.index_ol > li > p {
	margin-bottom: 10px;
}
.index_ol_input {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.index_ol_delete {
	margin-top: 20px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 2px dashed rgba(0,0,0,.2);
	border-radius: 4px;
}
.add,.finish {
	width: 80%;
	height: 36px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	line-height: 36px;
	border-radius: 4px;
	letter-spacing: 2px;
	color: white;
	background-color: rgba(58,191,190,.3);
}
.board {
	position: fixed;
	left: 0;
	top: 50%;
	width: 100%;
	height: 200px;
	margin-top: -100px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0px 1px 10px 0px gray;
	display: none;
}
.boardhid {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: right;
}
.board > ul {
	width: 100%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:center ;
}
.board > ul > li {
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 160px;
	background-color: rgba(58,191,190,.3);
	border-radius: 4px;
	color: white;
}
/* 单选 单选 单选 */
/* 单选 单选 单选 */
/* 单选 单选 单选 */
.danxuan,.duoxuan,.wenben,.xiala {
	display: none;
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,.75);
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 20px;
}
.container {
	width: 90%;
	height: 90%;
	margin: auto;
	margin-top: 10%;
}
.danxuan_div > p,.duoxuan_div > p,.wenben_div > p {
	width: 100%;
	height: 36px;
	letter-spacing: 4px;
	text-align: center;
	color: white;
}
.danxuan_div > textarea,.duoxuan_div > textarea,.wenben_div > textarea {
	width: 100%;
	height: 80px;
	font-size: 18px;
	border-radius: 2px;
}
.danxuan_ul,.duoxuan_ul {
	margin-top: 20px;
	width: 100%;
}
.danxuan_ul > li,.duoxuan_ul > li {
	width: 100%;
}
.danxuan_ul > li > p,.duoxuan_ul > li > p{
	width: 100%;
	height: 30px;
	text-align: center;
	color: white;
	letter-spacing: 2px;
}
.danxuan_ul > li >textarea,.duoxuan_ul > li >textarea {
	width: 100%;
	height: 44px;
	font-size: 18px;
}
.danxuan_add_li,.danxuan_delete_li,.duoxuan_add_li,.duoxuan_delete_li {
	width: 99%;
	height: 38px;
	margin: auto;
	border: 2px dashed white;
	border-radius: 1.5px;
	line-height: 38px;
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 20px;
}
.danxuan_wancheng,.duoxuan_wancheng,.wenben_wancheng {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 50px;
	background-color: white;
	letter-spacing: 4px;
	border-radius: 2px;
}
.wenben_textarea {
	width: 100%;
	height: 44px;
	font-size: 18px;
	border: 1px solid gray;
}
.biaoti_class {
	width: 90%;
	height: 30px;
	margin: 0 auto;
	margin-top: 20px;
}
.biaoti {
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 30px;
	border: 1px solid gray;
	text-align: center;
}