* {
	margin: 0;
	padding: 0;
}
ul,ol,li {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
}
textarea {
	resize: none;
	border: none;
	outline: none;
	border-radius: 2px;
}
.xxx {
	text-align: right !important;
	font-size: 20px !important;
	height: 20px !important;
	color: white;
}